body{
    margin: 0;
   background: linear-gradient(to left, rgba(178, 217, 230, 0.966), rgba(155, 237, 155, 0.961));
}
.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(8, 17, 37, 0.9);
    padding: 10px;
    margin: 0;
    box-sizing: border-box; 
}
#home{
    margin-left: auto;
}
#logo img{
    width: 35px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
#name p{
    margin: 0;
    font-size: 27px;
    color: aliceblue;

}
#name{
    margin-right: auto;
}
#home a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
#home a:hover{
    background-color:rgba(8, 17, 37, 0.7) ;
    
}
.cards{
    margin: 1.8%;
    background-color: rgb(221, 223, 227,0.3);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.448);
}

h1{
    margin-top: 0px;
    font-size: 25px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    color: #1f2a44;
    margin-bottom: 20px;
}
h4{
    margin: 0;
}

h3{
    margin: 20px;
    margin-left: 0px;
    color: #1f2a44;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

input{
    border: 1.5px solid #151d2e ;
    border-radius: 12px;
}

p{
    font-size: 20px;
    margin: 8px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color:#1f2a44;
    line-height: 1.5;
}

#new-task{
    width: 55%;
    font-size: 20px;
    padding: 0px 8px;
}
#add-tasks{
    display: flex;
    margin-bottom: 25px;
}
.allButtons{
    background-color: #4CAF50;
    color: white;
    border: 2px solid #388E3C;
    border-radius: 12px;
    padding: 7px 11px;
    cursor: pointer;
    box-shadow: 0 4px 7px rgba(43, 108, 46, 0.6);
    font-size: 20px;
}

#add{
    margin-left: 15px;
}
#clear{
    background-color: #1f2a44;
    border-color: #151d2e;
    margin-left: auto;
     box-shadow: 0 4px 7px rgb(21, 29, 46,0.6);
}

.tasks {
    font-size: 22px;
    padding: 0px;
    margin: 15px ;
    display: flex;
    align-items: flex-start; /* IMP-will keep the del button after the first line in case of multiple line tasks*/
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: #252e42;
}
.delete{
    margin-left: auto;
    align-items: center;
    border: 1.5px solid;
    border-color: rgba(8, 17, 37,0.7);
    cursor: pointer;
    background-color: #e74d3cf5;
    font-size: 15px;
    color: white;
    padding: 3px 18px;
    border-radius: 8px;
    margin-right: -10px;
    
}
input[type="checkbox"]{
    min-width: 18px;
    min-height: 18px;
    accent-color: #2c374ee4;
    cursor: pointer;
}

#trackers{
    display: flex;
}

.habits {
    background: rgba(255, 255, 255, 0.89);
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color:#1f2a44;
}

#task-manager{
    flex: 1.5;
}

#habit-tracker{
    flex: 1;
}
#stats{
    flex: 1.4;

}
.completes{
   font-size: 20px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: #252e42;
    margin: 0;

}
#habitsProgress , #statistics{
    display: flex;
    align-items: center;
}
.stat-line{
    display:flex;
    align-items:center;
}
#resetHabits{
    background-color: #1f2a44;
    border-color: #151d2e;
     display: flex;
    margin-left: auto;
}

#progress , #focusTime, #result{
    font-size: 20px;
    font-weight: 530;
}



#stopwatch{
    flex:1.2 ;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#startorpause i{
    color: white;
    border-radius: 50%;
    padding: 8px 11px 8px 13px;
    cursor: pointer;
    box-shadow: 0 4px 7px rgba(43, 108, 46, 0.6);
    font-size: 24px;
    background-color: rgb(241, 58, 58)
}
#startorpause{
    margin: 20px;
    border: none;
    background-color: #151d2e00;
    margin-left: 0px;
}

#time{
    font-size: 35px;
    text-align: center;
}


#stopwatch h2{
    font-size: 25px;
    font-weight: 600;
    color: #1f2a44;
    margin: 0;
}



#progressTimer{
    display: flex;
}

#resetTimer button{
    color: white;
    cursor: pointer;
     background-color: #1f2a44;
    border-color: #151d2e;
}


#break{
    flex: 2.1;
}
#break input{
    font-size: 18px;
    width: 95%;
    padding: 5px 8px;
}

#challenge{
    display: none;
    margin: 0;
}
#challengeText{
    margin-top: 4px;
}
#startChallenge p{
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 18px;
}

#typingResult{
    display: none;
}
#typingResult button{
    font-size: 18px;
}


#typingText{
    font-size: 19px;
    margin-left: 0px;
    margin-bottom: 11px;
}

