body{
    margin: 0;
   background: linear-gradient(to left, lightblue, lightgreen);
}
.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(8, 17, 37, 0.9);
    padding: 10px;
    margin: 0;
    box-sizing: border-box; 
}
#home{
    margin-left: auto;
}
#logo img{
    width: 35px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
#name p{
    margin: 0;
    font-size: 27px;
    color: aliceblue;

}
#name{
    margin-right: auto;
}
#home a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
#home a:hover{
    background-color:rgba(8, 17, 37, 0.7) ;
    
}
#task-manager{
    margin-top: 3%;
    margin-left: 2.2%;
    background-color: rgba(255, 255, 0, 0.456);
    padding: 20px;
   border: 1.5px solid  #1f2a44 ;
   border-radius: 30px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
#task-manager h1 , #habit-tracker h1{
    margin-top: 0px;
    font-size: 25px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    color: #1f2a44;
    margin-bottom: 20px;
}
#add-tasks button , #add-tasks input {
    font-size: 20px;
    border-radius: 12px;
    padding: 7px 11px;
    margin-right: 10px;
    cursor: pointer;
}
#add-tasks{
    display: flex;
}
#add{
    background-color: #4CAF50;
    color: white;
    border: 2px solid #388E3C;
    box-shadow: 0 4px 7px rgb(56, 142, 60,0.6);
}
#clear{
    background-color: #1f2a44;
    color: white;
    border: 2px solid  #151d2e;
    margin-left: auto;
     box-shadow: 0 4px 6px rgb(21, 29, 46,0.6);
}
p{
    font-size: 20px;
}
.tasks {
    font-size: 24px;
    padding: 0px;
    margin: 15px ;
    display: flex;
    align-items: flex-start; /*will keep the del button after the first line in case of multiple line tasks*/
    color: #2c3e50;
}
.delete{
    margin-left: 10px;
    align-items: center;
    color: aliceblue;
    border: 2px solid;
    border-color: rgba(8, 17, 37,0.7);
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    padding: 3px 7px;
    border-radius: 8px;
    
}
.tasks input[type="checkbox"]{
    min-width: 18px;
    min-height: 18px
}

#trackers{
    display: flex;
    gap:2.5% ;

}
#habit-tracker{
    margin-top: 3%;
    margin-right: 2.2%;
    background-color: rgba(255, 166, 0, 0.567);
    padding: 20px;
   border: 1.5px solid  #1f2a44 ;
   border-radius: 30px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.habits {
    background: rgba(255, 255, 255, 0.89);
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#task-manager{
    flex: 1.5;
}

#habit-tracker{
    flex: 1;
}

#resetHabits{
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 3%;
    cursor: pointer;
    color: white;
    background-color: #283554;
    display: flex;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 20px;
}

#stats{
    border: 1.5px solid black;
    border-radius: 20px;
    margin: 30px;
}
#stats div , #stats h2{
    margin-left: 20px;
}

#stats{
    background-color: #1f2a44;
    border-radius: 20px;
    margin: 30px;
    padding: 15px 25px;
    border: 1px solid rgba(255, 255, 255, 0.362);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 30%;
    flex: 0.9;

}

#stats h2{
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 550 ;
}

.completes{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 8px;

}

#habitsProgress , #statistics{
    display: flex;
    align-items: center;
}

#result{
    color: #4CAF50;
    font-weight: 500;
    font-size: 22px;
}

#progress{
    color: #FFD54F;
    font-weight: 500;
    font-size: 22px;
    
}
#stats p{
    margin: 5px 0;
}

.stat-line{
    display:flex;
    align-items:center;
    gap:4px;
    margin:10px 0;
}

#focusTime{
    color:#b257d9;
     font-weight: 500;
    font-size: 22px;
    
}

#stopwatch{
    border: 1.5px solid black;
    border-radius: 20px ;
    margin: 30px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    flex:1 ;
}

#stopwatch button{
    margin: 10px;
    margin-top: 0px;
    font-size: 18px;
    border-radius: 10px;
    padding: 4px 10px;
    border: none;
}

#time{
    font-size: 28px;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#stopwatch h2{
    font-size: 25px;
    font-weight: 600;
    color: #1f2a44;
    margin: 0;
}

#progressTimer{
    display: flex;
}

#start button{
    background-color: rgb(56, 142, 60,0.85);
    color: white;
    cursor: pointer;
}
#pause button{
    background-color: rgba(238, 38, 38, 0.85);
    color: white;
    cursor: pointer;
}
#resetTimer button{
    background-color: rgb(45, 61, 137,0.85);
    color: white;
    cursor: pointer;
}


#break{
    margin: 30px;
    flex: 2.1;

    display: flex;
    justify-content: center;   /* Horizontal center */
    align-items: center;       /* Vertical center */
    flex-direction: column;

}
#typing{
    width: 400px;
    padding: 20px 18px;
    font-size: 26px;
    border-radius: 16px;
    background-color: #b257d9e0;
    color: white;
    border: 1.5px solid black;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}
#break input{
    font-size: 20px;
    width: 97%;
    padding: 5px 2px;
}

#challenge{
    display: none;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 20px 20px;
    background-color:  #b257d999;
}

#typingText{
    font-size: 20px;
    
}
h4{
    margin: 0;
}
h3{
    margin: 10px;
    margin-bottom: 0px;
}